.main {
  flex:1 1 auto;
}
.main__wrapper{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello{
 font-size: 75px;
 font-weight: 900;
 color: #B930AA
}
